.cat1 {
  float: left;
  height: 220px;
  padding-right: 5px;
}

.cat2 {
  float: left;
  height: 165px;
  padding-bottom: 15px;

}

.aboutme {
  width:1015px;
  padding-left: 50px;
  padding-right: 50px;
}


.column {
  width: 250px;
  float: left;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.columnlist {
  width: 200px;
  float: left;
}
.columnlist2 {
  width: 200px;
  float: left;
}


body {
  background-color: white;
  color: #636363;
  padding-top: 50px;
}

.projects {

  padding-left: 50px;

}


ol {

  padding-bottom: 5px;

}
h2 {

  line-height: 70%;
}
h4 {
  line-height: 60%;
}
h5 {
  line-height: 60%;
  font-weight: 500;

}
