

.me {
  width: 500px;
  padding-right: 5px;
}

.prev-img {
  height: 300px;
  border: 2px solid #636363;
}

.AMcolumn {
  width: 500px;
  float: left;
}

.aboutme {
  width:1015px;
  padding-left: 50px;
  padding-right: 50px;
}

.column {
  width: 500px;
  float: left;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.columnlist {
  width: 200px;
  float: left;
}

.columnlist2 {
  width: 200px;
  float: left;
}

body {
  background-color: white;
  color: #636363;
  padding-top: 50px;
}

.projects {
  padding-left: 50px;
}

ol {
  padding-bottom: 5px;
}

h2 {
  line-height: 70%;
}

h4 {
  line-height: 60%;
}

h5 {
  line-height: 60%;
  font-weight: 500;
}
